<h1>Create An Account</h1>

<form method="POST" action="/auth/register">
    <div class="register-username">
        <label for="username" class="register-username-label">Username</label>
        <div class="register-username-group">
            <input type="text" name="username" class="register-username-entry" id="username" maxlength="25" placeholder="Enter a username" value="{{username}}">
            <small id="username-help" class="register-username-help">
                Usernames cannot be changed. No spaces are allowed.</small>
        </div>
    </div>
    <button type="submit" name="submit" class="register-username-submit">Finish registration</button>
    <button type="cancel" name="cancel" formaction="/auth/register-cancel" class="register-username-cancel">Cancel</button>
</form>