<form id="userInfo" method="POST" action="/usercp">
    <select id = "timezoneList">
        <option value="-12">UTC - 12</option>
        <option value="-11">UTC - 11</option>
        <option value="-10">UTC - 10</option>
        <option value="-9:30">UTC - 9:30</option>
        <option value="-9">UTC - 9</option>
        <option value="-8">UTC - 8</option>
        <option value="-7">UTC - 7</option>
        <option value="-6">UTC - 6</option>
        <option value="-5">UTC - 5</option>
        <option value="-4">UTC - 4</option>
        <option value="-3">UTC - 3</option>
        <option value="-2:30">UTC - 2:30</option>
        <option value="-2">UTC - 2</option>
        <option value="-1">UTC - 1</option>
        <option selected value="0">UTC</option>
        <option value="1">UTC + 1</option>
        <option value="2">UTC + 2</option>
        <option value="3">UTC + 3</option>
        <option value="4">UTC + 4</option>
        <option value="4:30">UTC + 4:30</option>
        <option value="5">UTC + 5</option>
        <option value="5:30">UTC + 5:30</option>
        <option value="5:45">UTC + 5:45</option>
        <option value="6">UTC + 6</option>
        <option value="6:30">UTC + 6:30</option>
        <option value="7">UTC + 7</option>
        <option value="8">UTC + 8</option>
        <option value="8:45">UTC + 8:45</option>
        <option value="9">UTC + 9</option>
        <option value="9:30">UTC + 9:30</option>
        <option value="10">UTC + 10</option>
        <option value="10:30">UTC + 10:30</option>
        <option value="11">UTC + 11</option>
        <option value="12">UTC + 12</option>
        <option value="12:45">UTC + 12:45</option>
        <option value="13">UTC + 13</option>
        <option value="14">UTC + 14</option>
    </select>
</form>

<form id="weekSelectorForm" method="GET" action="/usercp">
    <input type="week" id="weekSelector" name="week" value={{defaultWeek}} onchange="this.form.submit()"/>
    <input type="button" onclick="resetDate()"value="Today"/>
</form>

<div class="usercp-center">
    <form id="priceInputForm" method="POST" action="/usercp">
        <div class="form-row">
            <h6>Sunday</h6>
            <div class="input-group">
                <label for="monAMSellingPrice">What was the price of turnips this week on your island?</label>
                <input type="number" id="monAMSellingPrice" placeholder="..." name="buyingPrice" {{#if user.buyingPrice}}value={{user.buyingPrice}}{{/if}} onchange="this.form.submit()"/>
            </div>
        </div>
        <div class="form-flex-wrap">
            {{#each week}}
            {{> data-entry}}
            {{/each}}
        </div>
    </form>
</div>

<script>
    function resetDate()
    {
        const element = document.getElementById("weekSelector");
        element.value = "{{thisWeek}}";
        element.form.submit();
    }
</script>