.header-logo {
    text-align: center;
}

.header-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

.header-menu-entry {
    float: left;
}

.header-menu-entry a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-menu-entry-active {
    background-color: #4CAF50;
}

.header-menu-entry a:hover {
    background-color: #111;
}

.login-field {
    float: right;
}

.login-field a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.usercp-center {
    background: var(--center-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
  }
  
  .form-row h6 {
    width: 100%;
    display: block;
    font-weight: 800;
    font-size: 1.25rem;
    margin: 8px auto;
    color: var(--form-h6-text-color);
    text-align: center;
  }
  
  .form-flex-wrap {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    justify-content: center;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin: 8px;
    align-items: center;
  }
  
  .input-group label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    opacity: 0.7;
    text-align: center;
  }
  
  .form-flex-wrap .input-group label {
    margin-left: 0px;
    margin-bottom: 8px;
  }
  
  .priceInputForm i {
    text-align: center;
    display: block;
    font-style: normal;
    color: var(--italic-color);
    font-size: 0.9rem;
    margin: 8px auto;
  }
  
  .priceInputForm>.form-row input {
    margin: 0px auto;
  }
  
  input {
    border: 0px solid white;
    border-radius: 40px;
    padding: 8px 16px;
    font-size: 1.25rem;
    font-family: inherit;
    color: inherit;
    font-weight: bold;
    transition: 0.2s all;
    margin: 8px 0px;
  }
  
  input[type=number]:placeholder-shown {
    background: var(--input-bg-color);
  }
  
  input[type=number]:not(:placeholder-shown) {
    background: transparent;
    color: var(--color-blue);
  }
  
  input[type=number]:placeholder-shown:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 1px 6px var(--shadow-5), 0 3px 6px var(--shadow-9);
  }
  
  input[type=number]:focus {
    outline: none;
    transform: scale(1.1);
    color: var(--input-focus-text-color);
    background: var(--input-focus-bg-color);
    box-shadow: 0 1px 6px var(--shadow-5), 0 3px 6px var(--shadow-9);
  }
  
  input[type=number]:focus::placeholder {
    opacity: 0;
  }
  
  input[type=number] {
    width: 60px;
    text-align: center;
  }
  
  input[type=number]:disabled {
    background: inherit;
  }
  
  input[type=number]:disabled:hover {
    box-shadow: none;
    transform: none;
    cursor: default;
  }