.overview-box
{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.overview-box .overview-header {
    flex: 0 1 auto;
    padding: 10px;
}

.overview-box .overview-canvas-holder {
    flex: 1 1 auto;
}